[General]
Show_Title=false
Show_Labels=false
Use_Bar_UI=1
Show_Colored_Bars=true
Scale=0
str_fontsize=medium
val_fontsize=2
Font=Sans 11
Lines_Size=1
Cover_All_Panel_Rows=false
Update_Interval=3
Exec_Command=true
Show_Units=false
Small_Spacings=true
Command_Name=xfce4-sensors
Number_Chips=1
Suppress_Hddtemp_Message=false
Suppress_Tooltip=false
Preferred_Width=533
Preferred_Height=591
Tachos_ColorValue=0.80
Tachos_Alpha=0.80

[Chip0]
Name=ACPI
Number=0

[Chip0_Feature0]
Address=0
Name=RAM
Color=#FFFFFF
Show=true
Min=20.00
Max=60.00

[Chip0_Feature1]
Address=1
Name=CPU
Color=#FFFFFF
Show=true
Min=20.00
Max=60.00

