[Unit]
Description=Initial System Setup
Before=display-manager.service

[Service]
User=root
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/bash /usr/bin/initial-img-setup
StandardOutput=file:/var/log/initial_img_setup.log
StandardError=file:/var/log/initial_img_setup.log
ExecStartPost=/usr/bin/systemctl stop initial-setup

[Install]
WantedBy=multi-user.target
